[submodule "third-party/geometrize"]
	path = third-party/geometrize
	url = https://github.com/yang999876/geometrize.git
[submodule "third-party/diffvg"]
	path = third-party/diffvg
	url = https://github.com/yang999876/diffvg.git
